.design {
    padding-bottom: 60px;
    &__wrapp {
        max-width: 380px;
        min-height: 480px;
        /* overflow: hidden; */
        background: #eb5d1c;
        background: linear-gradient(149deg, rgba(235, 93, 28, 1) 0%, rgba(244, 150, 25, 1) 93%);
        border-radius: 40px;
        padding-top: 10px;
        position: relative;

        &-bg {
            display: block;
            /*  margin-top: 10px; */
            /*  width: 381px; */
            width: 100%;
            height: 317px;
            object-fit: cover;
            @media(max-width: 420px){
                object-fit: contain;
            }
        }
    }
    &__descr-wrapp {
        /* width: 100%; */
        position: absolute;
        top: 312px;
        left: 20px;
    }
    &__title {
        max-width: 218px;
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 33px;
        line-height: 110%;
        color: white;
    }
    &__btn-wrapp {
        width: 100%;
        position: relative;
    }
    &__btn {
        display: block;
        width: 338px;
        height: 60px;
        background-color: #fff;
        border-radius: 40px;
        padding: 20px 0 0 36px;
        font-size: 19px;
        font-weight: 500;
        color: #323234;
        @media (max-width: 419px) {
            max-width: 300px;
        }
        @media (max-width: 352px) {
            max-width: 280px;
        }
        @media (max-width: 338px) {
            max-width: 260px;
        }
        &-img {
            display: block;
            width: 40px;
            height: 26px;
            position: absolute;
            top: 30%;
            right: -6px;
            transform: translateX(-50%);
            @media (max-width: 419px) {
                right: -8;
            }
        }
    }
}
