@font-face {
    font-family: "UNCAGE";
    src: url("../fonts/UNCAGE-Bold.otf") format("opentype"), url("../fonts/UNCAGE-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "UNCAGE";
    src: url("../fonts/UNCAGE-Medium.otf") format("opentype"), url("../fonts/UNCAGE-Medium.ttf") format("truetype");
    font-weight: 500; /* Medium обычно 500 */
    font-style: normal;
}

@font-face {
    font-family: "UNCAGE";
    src: url("../fonts/UNCAGE-Regular.otf") format("opentype"), url("../fonts/UNCAGE-Regular.ttf") format("truetype");
    font-weight: normal; /* Обычно Regular — это 400 */
    font-style: normal;
}

@font-face {
    font-family: "UNCAGE";
    src: url("../fonts/UNCAGE-Semibold.otf") format("opentype"), url("../fonts/UNCAGE-Semibold.ttf") format("truetype");
    font-weight: 600; /* Semibold — 600 */
    font-style: normal;
}
